

body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  color: #40514e;
}

hr{
  width:3%;
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: thick;
}

h1{
  position: relative;
  margin: 50 auto 0 auto;
  font-size: 6em;
  color:#66BFBF;
}
h2 {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 3em;
  color:#66BFBF;
  font-weight: normal;
  font-family: serif;
}
h3{
  color:#11999E;
  font-size: 2em;
  font-weight: lighter;
}

p{
  font-size: 1.5em;
}
.cld-1{
  left: 25%;
  top:10%;
  position: absolute;
}

.cld-2{
  right:25%;
  bottom: 140%;
  position: absolute;

}

.mtn{
  position: relative;
  width:100%;
  height:auto;
  background-color: #EAF6F6 ;
}

.top{
  position: relative;
  padding-top: 75px;
  background-color: #EAF6F6 ;
}
.profile{
  padding-bottom: 100px;
}

.caleb-png{
  height:200px;
}

.mid{
  position: relative;
  margin:100px auto 100px auto;

}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
  height: 300px;

}
.computer-img{
  width:25%;
  float: left;
  margin-right:30px;
}
.tools{
  position: relative;
  width:25%;
  float: right;
  margin-left:30px;
  border: solid rgb(229, 123, 94);
}

.contact-me{
  position: relative;
  width:25%;
  margin:200px auto 100px auto;
}

.foot-link{
  font-size: 1em;
}

.bottom{
  background-color: #66BFBF;
  line-height: 4;
  padding-bottom: 5px;
  color: #EAF6F6;
}

.BUTTON {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD3, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px;
  line-height: 3;
}

.BUTTON:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(top, #30E3CB, #2BC4AD);
  text-decoration: none;
}
